.Logo {
    max-width: 100%;
    height: auto;
    color: white;
}

.Title {
    color: whitesmoke;
}

.container {
    display: flex;
}

.header {
    background-color: blue;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.startButton {
    color: whitesmoke;
    background-color: blue;
    height: 20%;
    width: 20%;
    border: none;
}
.startButton:hover {
    opacity: 50%;
    transition: opacity .25s ease-out;
    cursor: pointer;
}