* {
    cursor: default;
}

.Logo {
    max-width: 100%;
    height: auto;
    color: white;
}

.header {
    background-color: blue;
    display: flex;
    align-items: center;
}

.mapContainer {
    display: flex;
    height: 50vh;
    background-color: whitesmoke;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-out;
}

.landingWrap {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 89vh;
    padding: 0;
}

.titleWrap {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 10%;
}

.landingImage {
    height: 100%;
}

.landingImage img {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    object-fit: cover;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 89vh;
    padding: 2% 30%;
}