.Logo {
    max-width: 100%;
    height: auto;
    color: white;
}

.Title {
    color: whitesmoke;
}

.container {
    display: flex;
}

.header {
    background-color: blue;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.startButton {
    color: whitesmoke;
    background-color: blue;
    height: 20%;
    width: 20%;
    border: none;
    transition: opacity .25s ease-out;
}
.startButton:hover {
    opacity: 50%;
    cursor: pointer;
}

.mapContainer {
    display: flex;
    height: 50vh;
    background-color: whitesmoke;
    flex-direction: column;
}

.restCards {
    width: 50%;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    padding: 2px 16px;

    /* flex-wrap: wrap; */
}
.card {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }